# Exmaple usage for mlr_cpp

In [4]:
from MLR.mlr_wrapper import MLRWrapper
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("auto-mpg.csv")

#### dropna to remove null columns

In [8]:
df = df.dropna()
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

### Selecting our dependent and independent variable and cleaning up dataset for use

In [23]:
data = df[['horsepower', 'weight', 'mpg']]
data

    horsepower  weight   mpg
0          130    3504  18.0
1          165    3693  15.0
2          150    3436  18.0
3          150    3433  16.0
4          140    3449  17.0
..         ...     ...   ...
393         86    2790  27.0
394         52    2130  44.0
395         84    2295  32.0
396         79    2625  28.0
397         82    2720  31.0

[398 rows x 3 columns]

#### checking dataset types

In [28]:
data.dtypes

horsepower     object
weight          int64
mpg           float64
dtype: object

#### horsepower is object so we need to change it to numeric type

In [34]:
pd.to_numeric(data['horsepower'], errors='coerce')

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393     86.0
394     52.0
395     84.0
396     79.0
397     82.0
Name: horsepower, Length: 398, dtype: float64

In [35]:
data.dtypes

horsepower    float64
weight          int64
mpg           float64
dtype: object

#### now we'll need to remove the null value

In [37]:
data.isna().sum()

horsepower    6
weight        0
mpg           0
dtype: int64

In [39]:
data = data.dropna()
data.isna().sum()

horsepower    0
weight        0
mpg           0
dtype: int64

### Formula for the **Multiple Linear Regression Model**
#### $mpg = {\beta0} + {\beta1} * horsepower + {\beta2}*weight$

In [18]:
target_col = 'mpg' #dependent variable

In [40]:
model = MLRWrapper(data, target_col=target_col)
model.fit()

In [41]:
for summary in model.get_model_summary():
    display(summary)

'mpg = 45.6402 - 0.04730286308619175 * horsepower - 0.0057941573648029225 * weight'

               coeffs        P Value
b0          45.640211  2.317113e-192
horsepower  -0.047303   2.488482e-05
weight      -0.005794   1.124362e-26

,Adjusted Rsquared,Rsquared,Mean Absolute Error,Mean Squared Error,F Test,RSS,TSS
Values,0.704866,0.706375,3.235767,17.979037,467.910153,6993.845437,23818.993469